a {
  color: #333;
  text-decoration: none;
}

/*----------------------------*/

#chatboxApp {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.pane {
  height: 100%;
}

.main.pane {
  border-right: 1px solid #ddd;
  left: 200px;
  position: absolute;
}

#conversationsPane {
  border-right: 1px solid #666;
  position: fixed;
  width: 199px;
}

#optionsPane {
  position: fixed;
  right: 0;
  top: 0;
  width: 179px;
}

/*----------------------------*/

#logo {
  margin: 15px 20px;
  width: 160px;
}

a#addConversation {
  color: #06799f;
  font-size: 12px;
  margin-left: 25px;
}

a#addConversation:hover {
  text-decoration: underline;
}

#conversations {
  margin-left: 20px;
  margin-top: 10px;
}

#conversations a {
  border-bottom: 1px solid #eee;
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding: 8px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 155px;
}

#conversations a:hover {
  background: #eee;
}

#conversations a.active {
  background: #555;
  border-color: #333;
  color: #eee;
}

#conversations a.active:hover {
  background: #555;
}

#conversationsPane .footer {
  color: #ddd;
  font-size: 11px;
  padding: 20px;
}

/*----------------------------*/

#chats {
  padding: 0 10px;
}

#chats .msg {
  border-bottom: 1px solid #eee;
  display: block;
  margin-left: -5px;
  padding: 10px;
}

#chats .msg .author {
  font-weight: 700;
  margin-right: 5px;
}

/*----------------------------*/

#addConversationPane {
  display: none;
  text-align: center;
}

#addConversationPane h2 {
  font-size: 24px;
  margin: 30px 0 20px;
}

#addConversationPane input {
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 15px;
}

#addConversationPane input[type=text] {
  margin-right: 10px;
  width: 400px;
}

#addConversationPane input[type=text]:focus {
  border-color: #333;
}

#addConversationPane input[type=submit] {
  background: #fff;
}

#addConversationPane input[type=submit]:hover {
  background: #06799f;
  border-color: #333;
  color: #fff;
  cursor: pointer;
}

/*----------------------------*/

#chatInput {
  background: #555;
  border-top: 1px solid #000;
  bottom: 0;
  height: 100px;
  padding: 0 20px;
  position: fixed;
}

#chatInput textarea {
  border: 1px solid #333;
  font-size: 14px;
  height: 65px;
  margin-left: -10px;
  margin-top: 10px;
  padding: 6px 9px;
  resize: none;
  width: 100%;
}

#chatInput textarea:focus {
  border-color: #bbb;
}

